In [1]:
import os
import numpy as np
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go

import dash
import dash_core_components as dcc
import dash_html_components as html

In [2]:
df_projects = pd.read_excel(os.path.join('../PRE_PROCESS_DATA/fake_data_travaux.xlsx'))

In [ ]:
data = dict(
    type='sankey',
    node = dict(
      pad = 15,
      thickness = 20,
      line = dict(
        color = "black",
        width = 0.5
      ),
      label = ["Fonds privés", "Subventions communales", "Incitations efficaces", "Incitations inefficaces", "Rénovations", "Nouvelles constructions", "Changements de système énergétique", "Minergie", "Minergie-P", "PAC", "CAD", "Bois", "Panneaux solaires th.", "Panneaux solaires PV"],
      color = ["dodgerblue", "dodgerblue", "lightblue", "lightblue", "silver", "silver", "silver", "white","white","white","white","white","white","white",]
    ),
    link = dict(
      source = [0,0,1,1,2,2,2,3,3,3,4,4,5,5,6,6,6,6,6],
      target = [2,3,2,3,4,5,6,4,5,6,7,8,7,8,9,10,11,12,13],
      value = [80000,10000,40000,20000,20000,80000,20000,10000,10000,10000,30000,0,80000,10000,10000,10000,10000]
  ))

layout =  dict(
    title = "Investments Sankey Diagram",
    font = dict(
      size = 12
    )
)

fig = dict(data=[data], layout=layout)
py.iplot(fig, validate=True)

In [ ]:
def generate_table(df, max_rows=5):
    return html.Table(
        # Header
        [html.Tr([html.Th(col) for col in df.columns])] +

        # Body
        [html.Tr([
            html.Td(df.iloc[i][col]) for col in df.columns
        ]) for i in range(min(len(df), max_rows))]
    )

In [ ]:
generate_table(df_city)

In [ ]:
sankey_data=[]*17
sankey_data=[80000,10000,40000,20000,20000,80000,20000,10000,10000,10000,30000,0,80000,10000,10000,10000,10000]
sk=pd.DataFrame(sankey_data)
sk.columns=['2018']

In [ ]:
sankey_data=[80000,10000,40000,20000,20000,80000,20000,10000,10000,10000,30000,0,80000,10000,10000,10000,10000]

In [ ]:
pd.DataFrame(sankey_data)

In [4]:
df = pd.read_excel(os.path.join('../PRE_PROCESS_DATA/fake_city_data.xlsx'), sheetname='Données')
dff = pd.read_excel(os.path.join('../PRE_PROCESS_DATA/fake_city_data.xlsx'), sheetname='Indicateurs')

In [8]:
a=dff.columns.tolist()
table=pd.DataFrame(a)

In [9]:
table

                       0
0                  Année
1         kWh économisés
2     t. CO2 économisées
3             IDC Global
4          kWh/CHF subv.
5       t. CO2/CHF subv.
6  Taux subventionnement
7              % Aubaine

In [14]:
year=2018
a1=dff[dff['Année']==year]
a=a1.iloc[:,1]

In [13]:
table

                       0
0                  Année
1         kWh économisés
2     t. CO2 économisées
3             IDC Global
4          kWh/CHF subv.
5       t. CO2/CHF subv.
6  Taux subventionnement
7              % Aubaine

In [19]:
z=a1.T

In [16]:
dff

,Année,kWh économisés,t. CO2 économisées,IDC Global,kWh/CHF subv.,t. CO2/CHF subv.,Taux subventionnement,% Aubaine
0,2018,1230,451,423.529412,0.013667,0.005011,0.080,0.30
1,2017,1142,652,432.000000,0.012689,0.007244,0.067,0.28
2,2016,1023,362,438.619701,0.011367,0.004022,0.071,0.26
3,2015,963,444,433.718797,0.010700,0.004933,0.080,0.31

In [26]:
z.to_dict()

{0: {'% Aubaine': 0.29999999999999999,
  'Année': 2018.0,
  'IDC Global': 423.52941176470586,
  'Taux subventionnement': 0.080000000000000002,
  'kWh économisés': 1230.0,
  'kWh/CHF subv.': 0.013666666666666667,
  't. CO2 économisées': 451.0,
  't. CO2/CHF subv.': 0.0050111111111111111}}

In [39]:
table=dff[dff['Année']==year]
table=table.T
table.reset_index(inplace=True)
table.rename(columns={'index':'Indicateurs',0:'Valeurs'}, inplace=True)

In [40]:
table

             Indicateurs      Valeurs
0                  Année  2018.000000
1         kWh économisés  1230.000000
2     t. CO2 économisées   451.000000
3             IDC Global   423.529412
4          kWh/CHF subv.     0.013667
5       t. CO2/CHF subv.     0.005011
6  Taux subventionnement     0.080000
7              % Aubaine     0.300000